<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Serial Port settings-->
    <add key="PortName" value="com1"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="DtrEnable" value="True"/>
    <!-- Command settings-->
    <add key="singlePayout" value="01100010"/>
    <add key="multiplePayout" value="01100113"/>
    <add key="payoutSuccessful" value="010100AA"/>
    <add key="payoutfails" value="010100BB"/>
    <add key="ready" value="01010000"/>
    <add key="emptyNote" value="01010001"/>
    <add key="stockLess" value="01010002"/>
    <add key="noteJam" value="01010003"/>
    <add key="overLength" value="01010004"/>
    <add key="noteNotExit" value="01010005"/>
    <add key="sensorError" value="01010006"/>
    <add key="doubleNoteError" value="01010007"/>
    <add key="motorError" value="01010008"/>
    <add key="dispeningBusy" value="01010009"/>
    <add key="sensorAdjusting" value="0101000A"/>
    <add key="checksumError" value="0101000B"/>
    <add key="lowpowerError" value="0101000C"/>
  </appSettings>
</configuration>